body {
	height: 100vh;
	margin: 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

#keyboard {
	display: flex;

}

#keyboardArrowsDiv {
	display: flex;
	flex-direction: column;
}
